.App {
  height: 100vh;
}
.container {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 14px 8px;
  box-sizing: border-box;
  position: relative;
}
.preloader {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.themeToggler {
  width: 100%;
  cursor: pointer;
  max-width: 986px;
  margin: 0 auto;
  display: block;
  background-color: white;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  text-transform: uppercase;
}